<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>FitPass | Admin stranica</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
	<div id="menu">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="index.html">FitPass</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Početna</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === false" href="login.html">Uloguj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === false" href="registerCustomer.html">Registruj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === true" @click="logout">Izloguj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" v-if="isAdmin === true" href="admin-panel.html">Admin panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" v-if="isAdmin === true" href="new_sportObject.html">Novi
                            sportski objekat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isManager === true" href="manager_sports_object.html">Moj sportski
                            objekat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isCustomer === true" href="trainings.html">Treninzi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isCoach === true" href="coach-trainings.html">Treninzi trenera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isManager === true" href="manager-trainings.html">Treninzi sportskog
                            objekta</a>
                    </li>
                    <li>
                        <a class="nav-link text-danger" v-if="isCustomer == true" href="customer-panel.html">Moj
                            nalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">{{username}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

	<div id="app">
		<div class="container">
			<i class="bi bi-plus-square-fill"></i><a href="new_coach.html" class="text-decoration-none">Dodaj
				trenera</a><br>
			<i class="bi bi-plus-square-fill"></i><a href="new_manager.html" class="text-decoration-none">Dodaj
				menadžera</a><br>
			<i class="bi bi-plus-square-fill"></i><a href="new-promo-code.html" class="text-decoration-none">Dodaj promo
				kod</a>
		</div>
		<div class="bg-dark text-dark py-4">
			<div class="container">
				<div id="row ">
					<div class="col-md-2"><input type="text" class="w-100" v-model="usernameSearch" id="usernameSearch"
							name="usernameSearch" placeholder="Korisničko ime..."></div>

					<div class="col-md-2"><input type="text" class="w-100" v-model="firstNameSearch"
							id="firstNameSearch" name="firstNameSearch" placeholder="Ime..."></div>

					<div class="col-md-2"><input type="text" class="w-100" v-model="lastNameSearch" id="lastNameSearch"
							name="lastNameSearch" placeholder="Prezime..."></div>

					<div class="col-md-2">
						<select v-model="typeFilter" class="w-100 btn btn-light btn-sm dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<option class="dropdown-item" value="ALL" selected="selected">Status</option>
							<option class="dropdown-item" value="BRONZE">Bronzani</option>
							<option class="dropdown-item" value="SILVER">Srebrni</option>
							<option class="dropdown-item" value="GOLD">Zlatni</option>
						</select>
					</div>

					<div class="col-md-2">
						<select v-model="roleFilter" class="w-100 btn btn-light btn-sm dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<option class="dropdown-item" value="ALL" selected>Tip</option>
							<option class="dropdown-item" value="CUSTOMER">Kupac</option>
							<option class="dropdown-item" value="COACH">Trener</option>
							<option class="dropdown-item" value="MANAGER">Menadžer</option>
							<option class="dropdown-item" value="ADMIN">Administrator</option>
						</select>
					</div>

				</div>
			</div>
		</div>
		<table class="table container">
			<thead>
				<tr>
					<th v-on:click="sort(1)"><i class="bi bi-arrow-down-up"></i>Korisničko ime</th>
					<th>Lozinka</th>
					<th>Tip korisnika</th>
					<th v-on:click="sort(2)"><i class="bi bi-arrow-down-up"></i>Ime</th>
					<th v-on:click="sort(3)"><i class="bi bi-arrow-down-up"></i>Prezime</th>
					<th>Pol</th>
					<th>Datum rođenja</th>
					<th>Tip kupca</th>
					<th v-on:click="sort(4)"><i class="bi bi-arrow-down-up"></i>Poeni</th>
					<th>Akcija</th>
				</tr>
			</thead>
			<tbody v-for="user in filteredUsers">
				<tr>
					<td>{{user.username}}</td>
					<td>{{user.password}}</td>
					<td>{{user.userType}}</td>
					<td>{{user.name}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.gender}}</td>
					<td>{{user.dateOfBirth}}</td>
					<td>{{user.customerType}}</td>
					<td>{{user.points}}</td>
					<td>
						<form v-if="user.userType != 'ADMIN'" @submit.prevent="deleteUser(user.username)">
                        	<input type="submit" value="Obriši" class="btn btn-danger">
                        </form>
					</td>
				</tr>
			</tbody>
		</table>


		<table class="table container">
			<thead>
				<tr>
					<th>Promo kod</th>
					<th>Datum i vreme isteka</th>
					<th>Broj preostalih kodova</th>
					<th>Procenat popusta</th>
					<th>Akcija</th>
				</tr>
			</thead>
			<tbody v-for="promoCode in promoCodes">
				<tr>
					<td>{{promoCode.code}}</td>
					<td>{{promoCode.expirationDate}}</td>
					<td>{{promoCode.usesLeft}}</td>
					<td>{{promoCode.discountPercentage}}</td>
					<td>
						<form @submit.prevent="deletePromoCode(promoCode.code)">
                        	<input type="submit" value="Obriši" class="btn btn-danger">
                        </form>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		<table class="table container">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tip</th>
					<th>Cena</th>
					<th>Broj treninga</th>
				</tr>
			</thead>
			<tbody v-for="membership in memberships">
				<tr>
					<td>{{membership.id}}</td>
					<td>{{membership.membershipType}}</td>
					<td>{{membership.price}}</td>
					<td>{{membership.numberOfTrainings}}</td>
					<td>
						<form @submit.prevent="deleteMembership(membership.id)">
                        	<input type="submit" value="Obriši" class="btn btn-danger">
                        </form>
					</td>
				</tr>
			</tbody>
		</table>
		
		
		<table class="table container">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tip</th>
					<th>Ime</th>
					<th>Sportski objekat</th>
					<th>Trener</th>
					<th>Trajanje</th>
					<th>Opis</th>
				</tr>
			</thead>
			<tbody v-for="training in trainings">
				<tr>
					<td>{{training.trainingId}}</td>
					<td>{{training.trainingType}}</td>
					<td>{{training.name}}</td>
					<td>{{training.sportsObject}}</td>
					<td>{{training.coach}}</td>
					<td>{{training.length}}</td>
					<td>{{training.description}}</td>
					<td>
						<form @submit.prevent="deleteTraining(training.trainingId)">
                        	<input type="submit" value="Obriši" class="btn btn-danger">
                        </form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/menu.js"></script>
	<script src="app/admin-panel.js"></script>
</body>

</html>