<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FitPass | Treninzi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>

<body>

    <div id="menu">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="index.html">FitPass</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Početna</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === false" href="login.html">Uloguj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === false" href="registerCustomer.html">Registruj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isLoggedIn === true" @click="logout">Izloguj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" v-if="isAdmin === true" href="admin-panel.html">Admin panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" v-if="isAdmin === true" href="new_sportObject.html">Novi
                            sportski objekat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isManager === true" href="manager_sports_object.html">Moj sportski
                            objekat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isCustomer === true" href="trainings.html">Treninzi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isCoach === true" href="coach-trainings.html">Treninzi trenera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-if="isManager === true" href="manager-trainings.html">Treninzi sportskog
                            objekta</a>
                    </li>
                    <li>
                        <a class="nav-link text-danger" v-if="isCustomer == true" href="customer-panel.html">Moj
                            nalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">{{username}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="app" class="container">
        <label>Trenutni korisnik: {{currentUsername}}</label>

        <div class="bg-dark text-dark py-4">
            <div class="container">
                <div id="row ">
                    <div class="col-md-2"><input type="text" class="w-100" v-model="startPriceSearch"
                            id="startPriceSearch" name="startPriceSearch" placeholder="Cena od..."></div>
                    <div class="col-md-2"><input type="text" class="w-100" v-model="endPriceSearch" id="endPriceSearch"
                            name="endPriceSearch" placeholder="Cena do..."></div>
                    <div class="col-md-2"><input type="date" class="w-100" v-model="startDateSearch"
                            id="startDateSearch" name="startDateSearch" placeholder="Od..."></div>
                    <div class="col-md-2"><input type="date" class="w-100" v-model="endDateSearch" id="endDateSearch"
                            name="endDateSearch" placeholder="Do..."></div>

                    <div class="col-md-2">
                        <select class="w-100 btn btn-light btn-sm dropdown-toggle" v-model="trainingTypeFilter"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option class="dropdown-item" value="all">Svi</option>
                            <option class="dropdown-item" value="PERSONAL">Lični</option>
                            <option class="dropdown-item" value="GROUP">Grupni</option>
                            <option class="dropdown-item" value="GYM">Teretana</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Sportski objekat</th>
                    <th v-on:click="sortTrainings(2)">Datum</th>
                    <th>Tip treninga</th>
                    <th v-on:click="sortTrainings(3)">Cena</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="managerTraining in filteredManagerTrainings">
                    <td v-for="training in findTraining(managerTraining.trainingId)">
                        {{training.training.name}}
                    </td>
                    <td v-for="training in findTraining(managerTraining.trainingId)">
                        {{training.training.sportsObject}}
                    </td>
                    <td>{{managerTraining.startDate[2]}}.{{managerTraining.startDate[1]}}.{{managerTraining.startDate[0]}}.
                    </td>
                    <td v-for="training in findTraining(managerTraining.trainingId)">
                        {{training.training.trainingType}}
                    </td>
                    <td v-for="training in findTraining(managerTraining.trainingId)">
                        {{training.training.price}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.js"></script>
    <script src="app/menu.js"></script>
    <script src="app/manager-trainings.js"></script>
</body>

</html>