<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
		.center {
  			margin-left: auto;
  			margin-right: auto;
		}
		.form-signin {
		  width: 100%;
		  max-width: 330px;
		  padding: 15px;
		  margin: 0 auto;
		}
		
	</style>
</head>
<body>
	<div id="menu">
	    <nav class="navbar navbar-expand-md navbar-light bg-light">
	        <a class="navbar-brand" href="#">FitPass</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbarNav">
	            <ul class="navbar-nav">
	                <li class="nav-item active">
	                    <a class="nav-link" href="#">Početna</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#">O nama</a>
	                </li>
	            </ul>
	            
	            <ul class="navbar-nav">
	                <li class="nav-item">
	                    <a class="nav-link" v-if="username === ''"  href="login.html">Uloguj se</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" v-if="username === ''" href="registerCustomer.html">Registruj se</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" v-if="username != ''" @click="logout" >Izloguj se</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link text-danger" v-if="isAdmin == true" href="all_users.html">Svi korisnici(Admin)</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="">{{username}}</a>
	                </li>
	            </ul>
	        </div>
	    </nav>
	</div>
	
	<div id="app" class="container-fluid">
    <form class="form-group" @submit.prevent="getFormValues">
    	<h1 class="h3 mb-3 font-weight-normal">Registracija novog objekta</h1>
    	<div class="row"></div>
		<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Naziv</label>
				</div>
				<div class="col">
					<input type="text" id="name" v-model="name" class="form-control" placeholder="Naziv" required autofocus>
				</div>
				<div class="col"></div>
		</div>
		<div class="row"></div>
		<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Tip objekta</label>
				</div>
				<div class="col">
					<select class="btn btn-secondary dropdown-toggle" v-model="objectType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right">
  						<option  class="dropdown-item" style="background-color:white" value="GYM">Teretana</option>
  						<option class="dropdown-item" style="background-color:white" value="POOL">Bazen</option>
  						<option class="dropdown-item" style="background-color:white" value="SPORTCENTER">Sportski centar</option>
  						<option class="dropdown-item" style="background-color:white" value="DANCESTUDIO">Plesni studio</option>
					</select>
				</div>
				<div class="col"></div>
		</div>
				
			<div class="row"></div>
			<div class="row">
			<div class="col"></div>
				<div class="col">
					<label>Sadržaj</label>
				</div>
				<div class="col">
					<div class="form-check">
  						<input class="form-check-input" v-model="contents" type="checkbox" value="GROUPTRAINING" id="groupTraining">
  						<label class="form-check-label" for="flexCheckDefault">
    						Grupni treninzi
  						</label>
						</div>
					<div class="form-check">
  						<input class="form-check-input" v-model="contents" type="checkbox" value="PERSONALTRAINING" id="personalTraining">
  						<label class="form-check-label" for="flexCheckDefault1">
    						Personalni treninzi
  						</label>
					</div>
					<div class="form-check">
  						<input class="form-check-input" v-model="contents" type="checkbox" value="SAUNA" id="sauna">
  						<label class="form-check-label" for="flexCheckDefault2">
    						Sauna
  						</label>
					</div>
				</div>
				<div class="col"></div>
				</div>
				<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Status</label>
				</div>
				<div class="col">
					<div class="form-check">
  						<input class="form-check-input" v-model="works" v-bind:value="true" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  						<label class="form-check-label" for="flexRadioDefault1">
    						Radi
  						</label>
					</div>
					<div class="form-check">
  						<input class="form-check-input" v-model="works" v-bind:value="false" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  						<label class="form-check-label" for="flexRadioDefault2">
  				  			Ne radi
  						</label>
					</div>
					</div>
					<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"><label>Lokacija</label></div>
				<div class="col"><label><input type="number" id="longitude" v-model="longitude" class="form-control" placeholder="Geografska širina" required></label></div>
				<div class="col"><label><input type="number" id="latitude" v-model="latitude" class="form-control" placeholder="Geografska dužina" required></label></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><label><input type="text" id="street" v-model="street" class="form-control" placeholder="Ulica" required></label></div>
				<div class="col"><label><input type="number" id="number" v-model="number" class="form-control" placeholder="Broj" required></label></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><label><input type="text" id="town" v-model="town" class="form-control" placeholder="Mesto/grad" required></label></div>
				<div class="col"><label><input type="number" id="postNumber" v-model="postNumber" class="form-control" placeholder="Poštanski broj" required></label></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Prosečna ocena</label>
				</div>
				<div class="col">
					<input type="number" id="avgGrade" v-model="avgGrade" class="form-control" placeholder="Prosečna ocena" required>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Početak radnog vremena</label>
				</div>
				<div class="col">
					<input type="time" id="startTime" v-model="startTime" class="form-control" placeholder="" required>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Kraj radnog vremena</label>
				</div>
				<div class="col">
					<input type="time" id="endTime" v-model="endTime" class="form-control" placeholder="" required>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<label>Menadžer</label>
				</div>
				<div class="col">
					<select class="btn btn-secondary dropdown-toggle" v-for="manager in managers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right">
  						<option  class="dropdown-item" style="background-color:white" value="allOpenClosed">{{name}}{{surname}}</option>
					</select>
				</div>
				<div class="col"></div>
			</div>
			

		<div class="row">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Kreiraj</button>
				<p class="text-danger">
				 	{{ error }}
				</p>
			</div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
		
    </form>
	</div>
	
	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/menu.js"></script>
	<script src="app/allUsers.js"></script>
	<script src="app/new_sportObject.js"></script>
</body>
</html>